@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Teko:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'StardewFont';
  src: url('fonts/Stardew_Valley.ttf');
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-family: Arial;
  background-image: url(/image/bcg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.icon {
  color: #ffffff;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-family: 'StardewFont';
  font-size: 7rem;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.vertical-menu {
  transition: ease .3s;
  padding-left: 2rem;
  width: 200px;
  height: 100vh;
  transition: ease .3s;
}

.vertical-menu a {
  background: #ffffffbd;
  color: rgb(80, 80);
  display: flex;
  padding: 12px;
  transition: ease .3s;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

h4 {
  font-weight: 700;
  font-size: 4rem;
}

li {
  border-right: 1px;
  float: left;
  padding-left: 50px;
}

.nav-bar a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'StardewFont';
  font-size: 2rem;
  transition: ease;
  transition-duration: .2s;
}

.nav-bar a:hover:not(.active) {
  color: rgb(44, 43, 43);
}


header {
  border-radius: 5px;
  display: flex;
  grid-column: 1/9;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(38, 250, 32);
  background: radial-gradient(circle, rgba(38, 250, 32, 0.5144432773109244) 0%, rgba(26, 89, 27, 0.5676645658263305) 100%);
  padding: 20px 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

.main-container {
  margin: 0 1rem;
  text-align: center;
}

footer {
  grid-column: 1/9;
  padding-bottom: 20px;
  text-align: center;
  color: white;
  font-weight: 100;
  background-color: rgba(0, 0, 0, 0.788)
}

.nav-vert {
  color: black;
}

.label-welcome {
  display: inline-block;
  width: fit-content;

  text-overflow: unset;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

main {
  background: #ffffffbd;
  padding: 1rem;
  margin: 2rem;
  position: relative;
  text-align: start;
  display: grid;
  font-family: 'Teko', sans-serif;
  font-size: x-large;
}

.principal {
  display: grid;
  justify-content: center;
}

.img-container {
  padding-bottom: 40px;
}