/* 
    UTILITÁRIOS
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Teko:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'StardewFont';
  src: url('fonts/Stardew_Valley.ttf');
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* 
    CSS'S
*/

body {
  scroll-behavior: smooth;
  font-family: Arial;
  background-image: url(/image/bcg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(38, 250, 32);
  background: radial-gradient(circle, rgba(38, 250, 32, 0.5144432773109244) 0%, rgba(26, 89, 27, 0.5676645658263305) 100%);
  padding: 20px 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

main {
  background: #ffffffbd;
  padding: 1rem;
  margin: 1rem;
  width: 94%;
  justify-self: center;
  position: relative;
  text-align: start;
  font-family: 'Teko', sans-serif;
  font-size: x-large;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px 10px #1111119d;
}

h4 {
  font-weight: 700;
  font-size: 4rem;
}

li {
  border-right: 1px;
  float: left;
  padding-left: 50px;
}

footer {
  grid-column: 1/9;
  padding-bottom: 20px;
  text-align: center;
  color: white;
  font-weight: 100;
  background-color: rgba(0, 0, 0, 0.788)
}


input{
  display: block;
  background: transparent;
  grid-row: 1;
  grid-column: 1;
  border: 0;
  outline: 0;
  font-size: 15px;
  color: #ffffff;
}

button{
  background: transparent;
  border: 0;
  outline: 0;
}

button .fa-solid {
  width: 25px;
  color: rgba(245, 245, 245, 0.719);
  font-size: 22px;
  cursor: pointer;
}

/* 
    CLASSES E IDS
*/

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.nav-bar a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'StardewFont';
  font-size: 2rem;
  transition: ease;
  transition-duration: .2s;
}

.nav-bar a:hover {
  color: rgb(44, 43, 43);
}

.icon {
  color: #ffffff;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-family: 'StardewFont';
  font-size: 7rem;
}

.principal {
  display: grid;
  grid-template-columns: 1fr 99fr;
}

.vertical-menu {
  margin: auto 0;
  transition: ease .3s;
  height: fit-content;
  background: #ffffffbd;
  border-bottom: #a86603 .4rem ridge;
  border-top: #a86603 .4rem ridge;
  border-right: #a86603 .4rem ridge;
  border-radius: 3px;
}

.vertical-menu span {
  width: 100%;
  display: block;
  height: 1px;
  background-color: #a86603;
}

.vertical-menu a {
  display: block;
  padding: 5px;
  color: #5c3701;
  font-weight: bold;
  transition: ease .3s;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
  color: #000;
}

.img-container {
  padding-bottom: 40px;
}

.main-container {
  margin: 2rem 0;
  text-align: center;
}

.label-welcome {
  display: inline-block;
  width: 100%;
  animation-duration: 1.5s;
  animation-name: slidein;
}

.glossary {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.table-tips tr th {
  background-color: rgb(1, 170, 1);
  text-align: center;
  height: 1vh;
}

.table-tips tr td a {
  color: rgba(11, 11, 212, 0.664);
  text-decoration: none;
  transition: ease .2s;
}

.table-tips tr td a:hover {
  opacity: .5;
}

.table-tips tr td a img {
  width: 2rem;
  height: auto;
}
/*
    Div de pesquisa
*/
.search-box{
  display: flex;
  position: relative;
  margin: 10px ;
  padding: 5px;
  background: rgba(7, 90, 7, 0.548);
  border-radius: 5px;
}

::placeholder{
  color: #ffffff;
}
.result-box{
  position: absolute;
  top: 36px;
  right: 1px;
  width: 99%;
  z-index: 1;
  background-color: rgba(7, 90, 7, 0.548);
}

.result-box ul{
  border-top: 1px solid #999;
  padding: 15px 10px;
}
.result-box ul li{
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
}
.result-box ul li:hover{
  background-color: rgb(17, 94, 17);
}

.result-box a{
  text-decoration: none;
  color: white;
  display: absolute;
}

/* 
    MEDIA QUERIES
*/

@media (max-width: 850px) {
  .vertical-menu {
    display: none;
  }

  .table-tips {
    grid-template-columns: 1;
  }

  .principal {
    grid-template-columns: 1fr;
  }
}