/* 
    UTILITÃRIOS
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Teko:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'StardewFont';
  src: url('/fonts/Stardew_Valley.ttf');
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* 
    CSS'S
*/

body {
  font-family: Arial;
  background-image: url(/image/bcg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header a {
  text-decoration: none;
}

h4 {
  font-weight: 700;
  font-size: 4rem;
}

li {
  border-right: 1px;
  float: left;
  padding-left: 50px;
}

header {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(38, 250, 32);
  background: radial-gradient(circle, rgba(38, 250, 32, 0.5144432773109244) 0%, rgba(26, 89, 27, 0.5676645658263305) 100%);
  padding: 20px 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

audio {

  height: 1rem;
}

footer {
  grid-column: 1/9;
  padding-bottom: 10px;
  text-align: center;
  color: white;
  display: block;
  height: fit-content;
  font-weight: 100;
  background-color: rgba(0, 0, 0, 0.788);
}

main {
  background: rgba(209,248,255,0.67);
  padding: 1rem;
  width: fit-content;
  text-align: start;
  font-family: 'Teko', sans-serif;
  font-size: 16pt;
  border: 1px solid;
  border-bottom: 0px;
  border-top: 0px;
}

blockquote {
  border-left: 3px solid #c8ccd1;
  font-family: 'Linux Libertine','Georgia','Times',serif;
  font-size: 1.1em;
  padding: 1em 25px 1em 30px;
  position: relative;
  overflow: hidden
}

input {
  display: block;
  background: transparent;
  grid-row: 1;
  grid-column: 1;
  border: 0;
  outline: 0;
  font-size: 15px;
  color: #ffffff;
}

button {
  background: transparent;
  border: 0;
  outline: 0;
}

button .fa-solid {
  width: 25px;
  color: rgba(245, 245, 245, 0.719);
  font-size: 22px;
  cursor: pointer;
}

.icon {
  color: #ffffff;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-family: 'StardewFont';
  font-size: 5rem;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.vertical-menu {
  position: fixed;
  top: 46.5%;
  transform: translateY(-50%);
  /* Position the menu at the top of the viewport */
  left: 0;
  /* Position the menu at the left of the viewport */
  overflow-y: auto;
  /* Enable vertical scrolling for the menu if needed */
  max-height: calc(100vh - 120px);
  /* Limit the menu's height to fit between header and footer */
  z-index: 0;
  /* Ensure the menu appears above other elements */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: ease .3s;
  width: fit-content;
  background: #ffffffbd;
  border-bottom: #a86603 .4rem ridge;
  border-top: #a86603 .4rem ridge;
  border-right: #a86603 .4rem ridge;
  border-radius: 3px;
}

.vertical-menu span {
  width: 100%;
  display: block;
  height: 1px;
  background-color: #a86603;
}

.vertical-menu a {
  display: block;
  padding: 5px;
  color: #5c3701;
  font-weight: bold;
  transition: ease .3s;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
  color: #000;
}

.nav-bar a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'StardewFont';
  font-size: 2rem;
  transition: ease;
  transition-duration: .2s;
}

.nav-bar a:hover:not(.active) {
  color: rgb(44, 43, 43);
}

.table-tips tr td img {
  width: 32px;
}

.table-tips tr th {
  background-color: rgb(1, 170, 1);
  text-align: center;
}

.table-tips tr td a {
  padding-left: 10px;
  color: rgba(11, 11, 212, 0.664);
  text-decoration: none;
}

.table tr th {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  padding: 10px;
  text-align: left;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.table tr td {
  padding: 10px;
  text-align: left;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.table tr,
td img {
  padding-top: 20px;
  align-self: center;
}

.main-container {
  margin: 0 1rem;
  text-align: center;
}

.list {
  display: inline;
}

.nav-vert {
  color: black;
}

.label-welcome {
  display: inline-block;
  width: fit-content;
  text-overflow: unset;
  animation-duration: 3s;
  animation-name: slidein;
}

.conteudo {
  display: grid;
  justify-content: center;
}

.img-container {
  padding-bottom: 40px;
}

.principal {
  position: relative;
  display: grid;
  width: 75%;
  margin-left: 20vw;
  grid-template-columns: 1fr;
  place-self: center;
}

.search-box {
  display: flex;
  position: relative;
  margin: 10px;
  padding: 5px;
  background: rgba(7, 90, 7, 0.548);
  border-radius: 5px;
}

::placeholder {
  color: #ffffff;
}

.result-box {
  position: absolute;
  top: 36px;
  right: 1px;
  width: 99%;
  z-index: 1;
  background-color: rgba(7, 90, 7, 0.548);
}

.result-box ul {
  border-top: 1px solid #999;
  padding: 15px 10px;
}

.result-box ul li {
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
}

.result-box p:hover {
  background-color: rgb(17, 94, 17);
}

.result-box a {
  padding-left: 5px;
  text-decoration: none;
  color: white;
  display: absolute;
}

.device {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin-bottom: 20px;
}

#exp {
  display: grid;
  border-collapse: separate;
}

#exp tr td, tr th {
  padding: 5px;
  font-size: 14px;
  font-family: sans-serif;
}

#exp tr th {
  box-shadow: 0px 1px rgba(0, 0, 0, 0.3);
  text-shadow: 0px 2px #00321f;
  background-color: #03A007;
  border-color: #007448;
  color: white;
  text-align: center;
}

#exp tr td {
  border: 1px solid #8DCAF0;
  padding: 0.2em;
  background-color: rgba(255, 255, 255, 0.58);
}

table.wikitable {
  background-color: transparent;
  border-collapse: separate;
  border: none;
  font-size: 14px;
  font-family: sans-serif;
}

table.wikitable > tr > th,table.wikitable > tr > td,table.wikitable > * > tr > th,table.wikitable > * > tr > td {
  border: 1px solid #8DCAF0;
  padding: 0.2em;
  background-color: rgba(255,255,255,0.58)
}

table.wikitable > tr > th,table.wikitable > * > tr > th {
  background-color: #03A007;
  text-align: center;
  border-color: #007448;
  box-shadow: 0px 1px rgba(0,0,0,0.3);
  color: white;
  text-shadow: 0px 2px #00321f
}

table.wikitable > tr > th a,table.wikitable > * > tr > th a {
  color: white
}

table.wikitable.roundedborder {
  border: 1px solid rgb(132,174,236);
  padding: 5px;
  border-radius: 11px;
  margin-top: 15px
}

.skillsubheader {
  text-align: center;
  font-size: 12px;
  background-color: rgba(255,255,255,0.79)
}

.decorativequotemark {
  font-family: "Georgia","Times New Roman","Times",serif;
    font-size: 5em;
    line-height: 0.02em;
    font-weight: bold;
    color: rgb(41,129,178);
    border-right: 1px solid rgb(47,148,204);
    padding: 25px 0.06em 0em 0.2em;
}
/* 
  MEDIA-QUERIES 
*/

@media (max-width: 850px) {
  .vertical-menu {
    display: none;
  }

  .principal {
    width: 90%;
    margin: 0px 1vw;
    grid-template-columns: 1fr;
    place-self: center;
  }
}