/*
    UTILITÁRIOS
*/



/*
    CSS'S
*/

body { 
    display: grid;
    font-family: Arial;
    background-color: #ffffff3b;
    background-repeat: no-repeat;
    background-size: contain;
}

main{
    text-align: start;
    display: grid;
    word-wrap: break-word;
}

h1 {
    text-align: center;
}

/* 
    CLASSES E IDS
*/

.img-content {
    place-self: center;
    width: 75vw;
}

#principal {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
}

.recommended {
    display: block;
    position: sticky;
    grid-column: 3;
    margin-right: 1rem;
}

.guide {
    margin: 1.2rem 0;
    background: url(/image/conheca\ a\ haley.webp) center;
    background-size: cover;
    height: 9vw;
    width: auto;
    border-radius: .4rem;
    display: grid;
    justify-items: center;
    align-items: end;
    background-repeat: no-repeat;
    transition: ease;
    transition-duration: .3s;
}

.guide a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    background-color: #0000006e;
    border-radius: .4rem;
    padding: .3rem;
    margin-bottom: .2rem;
    transition: ease .3s;
}

.guide a:hover{
    background-color: #ffffff6e;
    color: #000;
}

/* 
    MEDIA QUERIES
*/

@media (max-width: 700px) {
    body {
        background-image: url(https://i.pinimg.com/originals/b5/56/54/b556542bcb3da9817f28b54f7e6a7486.gif);     
    }
}


/*
    SCROLLBAR
*/